<html>
    <style>
        .circle{
            width: 100px;
            height: 100px;
            border: 1px solid black;
            border-radius: 70px;
            text-align: center;
            padding: 20px;
        }
    </style>
    <body>
        <h1>Tree</h1>
        <div class="circle"><h3>root</h3></div>
        <form action="compare" method="post">
            <input type="number">
            <button>Submit</button>
        </form>
    </body>
</html>