<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <style>
            
            body{
                background-color: grey;
            }
        </style>
    <body>
        <h3 style="text-align: center">Edit this animal</h3>
        <form action="/editsuccess/<%=animal[0]._id%>" method="post">
            <div class="form-group">
              <label >Animal's name</label>
              <input type="text" class="form-control" name="Name"  value="<%=animal[0].Name%>">
            </div>
            <div class="form-group">
                <label >Description</label>
                <textarea class="form-control" name="Description"  rows="3"><%=animal[0].Description%></textarea>
            </div>
            <div class="form-group">
                <label >Animal's Image</label>
                <input type="text" class="form-control" name="Image"  value="<%=animal[0].Image%>">
              </div>
            <button type="submit" class="btn btn-primary">Edit This Animal</button>
          </form>
    </body>
</html>